<mat-card>
    Dados los parámetros de entrada:<br>
    n (int) = tamaño de la matriz(nxn)<br>
    rotaciones[int] = un arreglo que contenga una sucesión de rotaciones representadas por números, los números positivos son rotaciones a la derecha y los números negativos son rotaciones a la izquierda (0 representa ningún movimiento).<br>
    coordenada [x, y] = La coordenada del número de la salida.<br>
    Se genera una matriz “n”x”n” y se llena con números comenzando por el 1 en la celda 0,0 y aumentando en 1<br>
    consecuentemente en cada celda de la matriz, aplicar las rotaciones necesarias y posterior a la rotaciones a la<br>
    matriz y dada la coordenada[x,y] se tiene que regresar el número de esa celda.<br>
    La salida será el número contenido en la coordenada indicada.<br>
</mat-card>
