<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <h2>Bienvenido 🙂</h2>
      <mat-error *ngIf="mensajeError">
        {{mensajeError}}
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Correo"  name="username" formControlName="username" required>
        <mat-error>
          Por favor ingrese su dirección de correo electrónico válida
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" formControlName="password" name="password" required>
        <mat-error>
          Proporcione una contraseña válida
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Iniciar Sesion</button>
    </form>

  </mat-card-content>
</mat-card>
