<mat-tab-group>
  <mat-tab label="Test 1">
    <ng-template matTabContent>
      <app-test1></app-test1>
    </ng-template>
  </mat-tab>
  <mat-tab label="Test 2">
    <ng-template matTabContent>
      <app-test2></app-test2>
    </ng-template>
  </mat-tab>
  <mat-tab label="Test 3">
    <ng-template matTabContent>
      <app-test3></app-test3>
    </ng-template>
  </mat-tab>
  <mat-tab label="Test 4">
    <ng-template matTabContent>
      <app-test4></app-test4>
    </ng-template>
  </mat-tab>
  <mat-tab label="Test 5">
    <ng-template matTabContent>
      <app-test5></app-test5>
    </ng-template>
  </mat-tab>
</mat-tab-group>
